In [1]:
import pandas as pd
import numpy as np
from scipy import stats

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica. En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.

EJERCICIO 1: Buscar un conjunto de datos a analizar: 
Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [3]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

EJERCICIO 2: Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:

In [7]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
media_edades = np.mean(df['age'])
print(media_edades)
media_hijos = np.mean(df['children'])
print(media_hijos)
media_bmi = np.mean(df['bmi'])
print(media_bmi)
media_costos = np.mean(df['charges'])
print(media_costos)

39.20702541106129
1.0949177877429
30.663396860986538
13270.422265141257

In [ ]:
np.mean(df)
desviacion_media = np.abs(datos-media)
np.var(datos)
np.std(datos)
moda, frecuencia = stats.mode(datos) 
print(moda)         # el 1er array devuelve la moda.
print(frecuencia)
print(np.median(datos))
avg = np.average(datos, weights=w)
robustez = 1/df.shape[0]
print(np.std(datos) / np.abs(np.mean(datos)))

EJERCICIO 3: Interpretación de los resultados.
Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.