In [1]:
import pandas as pd
import numpy as np
from scipy import stats

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica. En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.

EJERCICIO 1: Buscar un conjunto de datos a analizar: 
Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [21]:
df.shape

(1338, 7)

EJERCICIO 2: Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
- Media
- Desviación con respecto de la media
- Varianza
- Desviación típica
- Moda
- Mediana
- Media ponderada
- Robustez
- Coeficiente de variación

In [3]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [26]:
media_edades = np.round(np.mean(df['age']), decimals=2)
print("la media de las edades es:", media_edades)
media_hijos = np.round(np.mean(df['children']), decimals=2)
print("La media de los hijos es:", media_hijos)
media_imc = np.round(np.mean(df['bmi']), decimals=2)
print("La media del IMC es:", media_imc)
media_costos = np.round(np.mean(df['charges']), decimals=2)
print("La media de los costos es:", media_costos)

la media de las edades es: 39.21
La media de los hijos es: 1.09
La media del IMC es: 30.66
La media de los costos es: 13270.42

In [27]:
variacion_media_edades = np.abs(df["age"]-media_edades)
print("la variación de la media de las edades es:", variacion_media_edades)
variacion_media_hijos = np.abs(df['children']-media_hijos)
print("La variación de la media de los hijos es:", variacion_media_hijos)
variacion_media_imc = np.abs(df['bmi']- media_imc)
print("La variación de la media del IMC es:", variacion_media_imc)
variacion_media_costos = np.abs(df['charges']- media_costos)
print("La variación de la media de los costos es:", variacion_media_costos)

la variación de la media de las edades es: 0       20.21
1       21.21
2       11.21
3        6.21
4        7.21
        ...
1333    10.79
1334    21.21
1335    21.21
1336    18.21
1337    21.79
Name: age, Length: 1338, dtype: float64
La variación de la media de los hijos es: 0       1.09
1       0.09
2       1.91
3       1.09
4       1.09
        ...
1333    1.91
1334    1.09
1335    1.09
1336    1.09
1337    1.09
Name: children, Length: 1338, dtype: float64
La variación de la media del IMC es: 0       2.760
1       3.110
2       2.340
3       7.955
4       1.780
        ...
1333    0.310
1334    1.260
1335    6.190
1336    4.860
1337    1.590
Name: bmi, Length: 1338, dtype: float64
La variación de la media de los costos es: 0        3614.50400
1       11544.86770
2        8820.95800
3        8714.05061
4        9403.56480
           ...
1333     2669.87170
1334    11064.43920
1335    11640.58650
1336    11262.47500
1337    15870.94030
Name: charges, Length: 1338, dtype: float64

In [29]:
varianza_edades = np.round(np.var(df['age']), decimals= 2)
print("la varianza de las edades es:", varianza_edades)
varianza_hijos = np.round(np.var(df['children']), decimals=2)
print("La varianza de los hijos es:", varianza_hijos)
varianza_imc = np.round(np.var(df['bmi']), decimals=2)
print("La varianza del IMC es:", varianza_imc)
varianza_costos = np.round(np.var(df['charges']), decimals=2)
print("La varianza de los costos es:", varianza_costos)

la varianza de las edades es: 197.25
La varianza de los hijos es: 1.45
La varianza del IMC es: 37.16
La varianza de los costos es: 146542766.49

In [34]:
desv_tip_edades = np.round(np.std(df["age"]), decimals=2)
print("La desviación típica de la edad es:", desv_tip_edades)
desv_tip_hijos = np.round(np.std(df["children"]), decimals=2)
print("La desviación típica de los hijos es:", desv_tip_hijos)
desv_tip_imc = np.round(np.std(df["bmi"]), decimals=2)
print("La desviación típica del IMC es:", desv_tip_imc)
desv_tip_costos = np.round(np.std(df["charges"]), decimals=2)
print("La desviación típica de los costos es:", desv_tip_costos)

La desviación típica de la edad es: 14.04
La desviación típica de los hijos es: 1.21
La desviación típica del IMC es: 6.1
La desviación típica de los costos es: 12105.48

In [38]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [41]:
moda_df, frecuencia_df = stats.mode(df)
print(moda_df)
print(frecuencia_df)

[[18 'male' 32.3 0 'no' 'southeast' 1639.5631]]
[[  69  676   13  574 1064  364    2]]

In [59]:
print(f"la moda de la edad es: {moda_df[0][0]} y su frecuencia: {frecuencia_df[0][0]}")
print(f"la moda del sexo es: {moda_df[0][1]} y su frecuencia: {frecuencia_df[0][1]}")
print(f"la moda del IMC es: {moda_df[0][2]} y su frecuencia: {frecuencia_df[0][2]}")
print(f"la moda de los niños es: {moda_df[0][3]} y su frecuencia: {frecuencia_df[0][3]}")
print(f"la moda de los fumadores es: {moda_df[0][4]} y su frecuencia: {frecuencia_df[0][4]}")
print(f"la moda de la region es: {moda_df[0][5]} y su frecuencia: {frecuencia_df[0][5]}")
print(f"la moda de los costos es: {moda_df[0][6]} y su frecuencia: {frecuencia_df[0][6]}")

la moda de la edad es: 18 y su frecuencia: 69
la moda del sexo es: male y su frecuencia: 676
la moda del IMC es: 32.3 y su frecuencia: 13
la moda de los niños es: 0 y su frecuencia: 574
la moda de los fumadores es: no y su frecuencia: 1064
la moda de la region es: southeast y su frecuencia: 364
la moda de los costos es: 1639.5631 y su frecuencia: 2

In [65]:
np.median(df["age"])

39.0

In [ ]:
np.mean(df)
desviacion_media = np.abs(datos-media)
np.var(datos)
np.std(datos)
moda, frecuencia = stats.mode(datos) 
print(moda)         # el 1er array devuelve la moda.
print(frecuencia)
print(np.median(datos))
avg = np.average(datos, weights=w)
robustez = 1/df.shape[0]
print(np.std(datos) / np.abs(np.mean(datos)))

EJERCICIO 3: Interpretación de los resultados.
Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.