In [3]:
import pandas as pd

EJERCICIO 1: Cargad el csv que guardasteis ayer.

Antes de seguir con las preguntas, este DataFrame estÃ¡ terriblemente sucio. En las prÃ³ximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.

Para ello vamos a utilizar el mÃ©todo .dropna() de pandas. TendrÃ©is que ejecutar la siguiente lÃ­nea de cÃ³digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

df.dropna(inplace = True)

Â¿CuÃ¡ntas filas se han eliminado con esta lÃ­nea de cÃ³digo?

In [4]:
df = pd.read_csv("attack_pair.csv")

In [5]:
df1 = df.shape
df1

(6114, 14)

In [6]:
df.head()

,case number,unnamed: 0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case number  6113 non-null   object
 1   unnamed: 0   6114 non-null   int64
 2   year         6114 non-null   float64
 3   type         6110 non-null   object
 4   country      6074 non-null   object
 5   area         5706 non-null   object
 6   location     5626 non-null   object
 7   activity     5603 non-null   object
 8   name         5914 non-null   object
 9   sex          5564 non-null   object
 10  age          3448 non-null   object
 11  time         2934 non-null   object
 12  species      3409 non-null   object
 13  href         6114 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 668.8+ KB

In [8]:
df.dropna(inplace=True)

In [9]:
df2= df.shape
df2

(1502, 14)

In [10]:
filas_eliminadas= df1[0]-df2[0]
print (f"la cantidad de filas con contenido null que se han eliminado son: {filas_eliminadas}")

la cantidad de filas con contenido null que se han eliminado son: 4612

In [11]:
df.columns

Index(['case number', 'unnamed: 0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex ', 'age', 'time', 'species ',
       'href'],
      dtype='object')

In [12]:
df.head()

,case number,unnamed: 0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...

EJERCICIO 2: Â¿CuÃ¡l es el nÃºmero de ataques que se han producido en Estados Unidos?

In [13]:
df_USA= df[df["country"]=="USA"]
df_USA

,case number,unnamed: 0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
53,2017.12.31,53,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,18h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
60,2017.11.24,60,2017.0,Unprovoked,USA,California,"Stillwater Cove, Monterey County",Spearfishing,Grigor Azatian,M,25,13h45,"White shark, 4.6 m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4731,1941.06.15,4743,1941.0,Provoked,USA,New York,15 miles south of Jones Inlet,Fishing from 32' boat,Paul Ruhle,M,43,14h00,2.1 m [7'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4734,1941.03.09,4746,1941.0,Provoked,USA,California,"Santa Monica, Los Angeles County",Fishing,Frank Martinez,M,53,Night,Mako shark (aka bonito shark) 1.2 m [4'],http://sharkattackfile.net/spreadsheets/pdf_di...
4862,1936.07.25,4874,1936.0,Unprovoked,USA,Massachusetts,"Hollywood Beach, just above Mattapoisett Harbo...",Swimming crawl stroke,"Joseph Troy, Jr",M,16,15h30,White shark (identified by Dr. Hugh Smith),http://sharkattackfile.net/spreadsheets/pdf_di...
5136,1926.07.08,5148,1926.0,Unprovoked,USA,California,"San Francisco Bay (or San Leandro Bay), near c...",Swimming with dog near canning factory,Norman Piexotto,M,15,,1.5 m [5'] white shark or sevengill shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5297,1916.07.01,5311,1916.0,Unprovoked,USA,New Jersey,"Beach Haven, Ocean County",Swimming,Charles E. Vansant,M,24,17h00,Thought to involve a 2.6 m [8.5'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [14]:
df_ataques_usa = df_USA.shape
print(f"La cantidad de ataques que se han producido en USA han sido: {df_ataques_usa[0]}")

La cantidad de ataques que se han producido en USA han sido: 719

EJERCICIO 3: Â¿Y en EspaÃ±a?
- 3.1 Â¿En quÃ© regiones se han producido los ataques?
- 3.2 Â¿CuÃ¡ntos ataques se han producido en cada Ã¡rea?

In [15]:
df_spain= df[df["country"]=="SPAIN"]
df_ataques_spain = df_spain.shape
print(f"La cantidad de ataques que se han producido en Spain han sido: {df_ataques_spain[0]}")

La cantidad de ataques que se han producido en Spain han sido: 5

In [16]:
regiones_spain = df_spain["area"].unique()
print(f"Las regiones dÃ³nde han habido ataques son: {regiones_spain}")

Las regiones dÃ³nde han habido ataques son: ['CastellÃ³n' 'Alicante Province' 'Alicante' 'Grand Canary Island'
 'Costa Blanca']

In [17]:
num_ataques= []

for i in regiones_spain:
    area = df[df["area"]==i]
    forma= area.shape
    print(forma)
    num_ataques.append(forma[0])
num_ataques

(1, 14)
(1, 14)
(1, 14)
(1, 14)
(1, 14)

[1, 1, 1, 1, 1]

In [18]:
ataques_region_sp= dict(zip(regiones_spain,num_ataques))
print(f"la cantidad de ataques por region son: {ataques_region_sp}")

la cantidad de ataques por region son: {'CastellÃ³n': 1, 'Alicante Province': 1, 'Alicante': 1, 'Grand Canary Island': 1, 'Costa Blanca': 1}

EJERCICIO 4: Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. ðŸ“Œ Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el mÃ©todo isin(). Hacedlo con ambas herramientas.
- 4.1 Â¿CuÃ¡ntos ataques se han producido en cada paÃ­s?
- 4.2 Â¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?
- 4.3 Â¿CuÃ¡ntos ataques se han producido en Australia antes del 2000?
- 4.4 Â¿Y despuÃ©s del 2000?

In [19]:
df_aus_usa= df[df["country"].isin(["AUSTRALIA", "USA"])]
df_aus_usa

,case number,unnamed: 0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,1912.01.26,5375,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...
5481,1905.03.26,5498,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...

In [20]:
df_aus_usa1= df[(df["country"]== "AUSTRALIA") | (df["country"]== "USA")]
df_aus_usa1

,case number,unnamed: 0,year,type,country,area,location,activity,name,sex,age,time,species,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,1912.01.26,5375,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...
5481,1905.03.26,5498,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...

EJERCICIO 5: Extraed unicamente los ataques a mujeres.

EJERCICIO 6: Â¿CuÃ¡ntas mujeres fueron atacadas en EspaÃ±a?

EJERCICIO 7: Extraed los ataques que se hayan producido en el aÃ±o 2000, 1997 y 2006. Utilizad el mÃ©todo isin() para resolver este ejercicio.

EJERCICIO 8: Si extraemos los valores Ãºnicos de la columna species nos podemos dar cuenta que estÃ¡ un poco sucia y extraer informacion Ãºtil de la misma se puede convertir en algo difÃ­cil. En este ejercicio tendrÃ©is que extraer los ataques que han ocurrido por tiburÃ³n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el mÃ©todo str.contains() para resolver este ejercicio.

EJERCICIO 9: Extraed ahora los ataques por tiburÃ³n blanco o tigre. Utilizad el mÃ©todo str.contains() para resolver este ejercicio.

EJERCICIO 10: Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el aÃ±o sea menor que 2000 pondremos siglo-XX y el resto de los aÃ±os siglo-XXI.

EJERCICIO 11: Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de maÃ±ana.