En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... . En los ejercicios de hoy pondremos en pr谩ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m谩s sencilla.

In [77]:
import pandas as pd
import numpy as np
import re

In [78]:
df = pd.read_csv('attack_merge.csv')
df.head(20)

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,unnamed:_0_y,fatal_(y/n),injury,date
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,Y,"FATAL, all onboard were killed by sharks",1800
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,Y,FATAL,Reported May-28-1797
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,Y,"FATAL, ""bitten in two""",1791
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,N,"No injury to occupants, shark bit oar and rudder",10-May-1788
5,6137,1787.07.05,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6121,Y,FATAL,05-Jul-1787
6,6138,1786.08.10.R,1786.0,Unprovoked,BARBADOS,NaN,NaN,Washing himself,a sailor from the York Merchant,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6122,Y,FATAL,Reported 10-Aug-1786
7,6139,1785.09.26.R,1785.0,Unprovoked,ENGLAND,Sussex,Brighton,NaN,NaN,M,NaN,NaN,Tiger shark?,http://sharkattackfile.net/spreadsheets/pdf_di...,6123,Y,Human remains recovered from shark,Reported 26-Sep-1785
8,6140,1784.12.12,1784.0,Unprovoked,JAMAICA,NaN,Kingston,Swimming,Richard Page,M,NaN,22h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6124,Y,NaN,12-Dec-1784
9,6141,1783.03.02,1783.0,Sea Disaster,MARTINIQUE,NaN,Foundering of the privateer Holker,NaN,NaN,M,NaN,06h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6125,Y,Many of the crew were taken by sharks,02-Mar-1783
10,6142,1780.08.08,1780.0,Unprovoked,USA,Florida,"Pensacola Harbor, Escambia County",Swimming,Joseph Feron,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6126,Y,FATAL,08-Aug-1780
11,6143,1779.00.00,1779.0,Unprovoked,USA,Hawaii,"Maliu, Hawai'i",Surfing,Nu'u-anu-pa'a hu,M,young,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6127,Y,"FATAL, buttock lacerated",1779
12,6144,1776.00.00.R,1776.0,Unprovoked,GUINEA,NaN,NaN,Murder,African slave,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6128,Y,FATAL,Reported 1776
13,6145,1776.00.00.b,1776.0,Boat,GREENLAND,NaN,NaN,NaN,Occupants of skin boats,NaN,NaN,NaN,White sharks,http://sharkattackfile.net/spreadsheets/pdf_di...,6129,Y,FATAL,1776
14,6146,1771.07.12.R,1771.0,Unprovoked,USA,NaN,Damiscotte,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6130,Y,FATAL,Reported 12-Jul-1771
15,6147,1767.00.00,1767.0,Invalid,FRANCE,C么te d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,NaN,Description of shark does not ring true,http://sharkattackfile.net/spreadsheets/pdf_di...,6131,NaN,Lacerations to arm & leg,1767
16,6148,1764.00.00,1764.0,Unprovoked,SPAIN,NaN,Guadalquivir River,Swimming,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6132,Y,FATAL,1764
17,6149,1758.00.00,1758.0,Unprovoked,MEDITERRANEAN SEA,NaN,NaN,Fell overboard from a frigate & was swallowed ...,sailor,M,NaN,NaN,"""The fish was harpooned, dried, and presented ...",http://sharkattackfile.net/spreadsheets/pdf_di...,6133,N,"""He was taken up alive and but little injured.""",1758
18,6150,1753.10.27.R,1753.0,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6134,Y,FATAL,Reported 27-Oct-1753
19,6151,1751.07.27,1751.0,Unprovoked,USA,Massachusetts,NaN,Swimming,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6135,Y,FATAL,27-Jul-1751

EJERCICIO 1: Cread una columna nueva y una funci贸n que nos de el mes donde ocurri贸 el ataque. 
Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci贸n de mes. 
En ese caso devolved un nulo (NaN).

In [135]:
df_copia = df.copy()

In [128]:
df_copia

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,unnamed:_0_y,fatal_(y/n),injury,date
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,Y,"FATAL, all onboard were killed by sharks",1800
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,Y,FATAL,Reported May-28-1797
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,Y,"FATAL, ""bitten in two""",1791
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,N,"No injury to occupants, shark bit oar and rudder",10-May-1788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6111,N,No injury to occupants,Reported 26-Feb-1804
6280,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6112,N,No injury,May-17-1803
6281,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6113,N,Shark knocked him down & tore clothing of the ...,Mar-1803
6282,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6114,Y,FATAL,Reported Apr-13-1802
6283,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,6115,Y,"FATAL, PROVOKED INCIDENT",Reported 18-Dec-1801

In [129]:
def sacar_mes(x):
    try:
        return re.findall('([A-Z]{1}[a-z]{2})\-',x)[0]
    except:

        return np.nan

In [130]:
df_copia["mes"] = df_copia["date"].apply(sacar_mes)

In [115]:
df_copia.head()

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,unnamed:_0_y,fatal_(y/n),injury,date,mes
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,Y,"FATAL, all onboard were killed by sharks",1800,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,Y,FATAL,Reported May-28-1797,May
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792,Sep
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,Y,"FATAL, ""bitten in two""",1791,NaN
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,N,"No injury to occupants, shark bit oar and rudder",10-May-1788,May

EJERCICIO 2: Vamos con la columna fatal_(y/n). Lo primero que ten茅is que hacer es evaluar los valores 煤nicos que hay. Esperar铆amos tener solo dos valores: y y n, pero tristemente no deber铆a ser as铆 . Cread una columna nueva y una funci贸n que devuelva 煤nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [160]:
df_copia['fatal_(y/n)'].unique()

array(['Y', 'N', nan, 'UNKNOWN', 'M', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [148]:
st =str(st)

In [159]:
re.findall(r'\b([N-zZ-a])\b', st)

['Y', 'N', 'N', 'N', 'y']

In [161]:

def fatal(fila):
    try:
       return re.findall(r'\b([N-zZ-a])\b', fila)[0]
    except:
        return np.nan

# aca se podria hacer un if para que reemplace diractemente los valores, en vez de reemplazarlos despues

In [162]:
df_copia["fatal_"] = df_copia["fatal_(y/n)"].apply(fatal)
df_copia

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,unnamed:_0_y,fatal_(y/n),injury,date,fatal_
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,Y,"FATAL, all onboard were killed by sharks",1800,Y
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,Y,FATAL,Reported May-28-1797,Y
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792,Y
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,Y,"FATAL, ""bitten in two""",1791,Y
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,N,"No injury to occupants, shark bit oar and rudder",10-May-1788,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6111,N,No injury to occupants,Reported 26-Feb-1804,N
6280,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6112,N,No injury,May-17-1803,N
6281,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6113,N,Shark knocked him down & tore clothing of the ...,Mar-1803,N
6282,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6114,Y,FATAL,Reported Apr-13-1802,Y
6283,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,6115,Y,"FATAL, PROVOKED INCIDENT",Reported 18-Dec-1801,Y

In [163]:
df_copia['fatal_'].unique()

array(['Y', 'N', nan, 'y'], dtype=object)

In [166]:
df_copia['fatal_'].replace(to_replace = ['Y', 'N'], value = ['y', 'n'], inplace=True)

In [167]:
df_copia['fatal_'].unique()

array(['y', 'n', nan], dtype=object)

EJERCICIO 3: Seguid la misma l贸gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m谩s: En este caso querremos tener dos valores 煤nicos F y M. De nuevo en la columna hay otros car谩cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr茅is que usar la librer铆a random). En caso de que sea nulo, que la funci贸n devuelva nulo (np.nan).

In [202]:
sex = df_copia['sex_'].unique()
type(sex[1])

float

In [214]:
sex = list(sex)
sex

['F', nan, 'M', 'M ', 'lli', 'N', '.']

In [171]:
val_sexos = ['M', 'F']

In [ ]:
np.random.seed(1) 
m = df_copia['sex_'].eq('Placeholder')
df.loc[m, 'Sport'] = np.random.choice(val_sexos, size=m.sum())

In [181]:
re.findall(r'[F]|[f]|[M]|[m]', sex)

['F', 'M', 'M']

In [252]:

def sexo(x):

    try:
        np.isnan(x) == True
        return np.nan
   
    except:

        try:
            return re.findall(r'[F]|[f]|[M]|[m]', x)[0]
            
        except:

                return np.random.choice(val_sexos, size=1)[0]

In [253]:
df_copia["sex2"] = df_copia["sex_"].apply(sexo)

In [254]:
df_copia['sex2'].unique()

array(['F', nan, 'M'], dtype=object)

In [257]:
df_copia.sample(5)

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,...,species_,href,unnamed:_0_y,fatal_(y/n),injury,date,fatal_,sex,sex1,sex2
3208,3047,1981.00.00.a,1981.0,Unprovoked,GREECE,Pagasitikos Gulf,NaN,"Free diving / spearfishing,",an Austrian tourist,M,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,3039,N,Minor injury,Summer of 1981,n,M,M,M
5817,5664,1893.07.03,1893.0,Sea Disaster,PHILIPPINES,Luzon Island,Off Manila,Abandoning burning steamship Don Juan,NaN,M,...,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,5648,Y,FATAL,03-Jul-1893,y,M,M,M
3713,3554,1966.09.08.b,1966.0,Provoked,USA,Florida,"Florida Keys, Monroe County",Hunting crayfish,David Redmond,M,...,"Nurse shark, 2.5'",http://sharkattackfile.net/spreadsheets/pdf_di...,3544,N,Abdomen abraded when he seized shark PROVOKED ...,8-Sep-1966,n,M,M,M
1005,839,2011.12.05,2011.0,Invalid,AUSTRALIA,Queensland,Bushy Ilet,Spearfishing,Dave Fordson,NaN,...,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...,836,NaN,Killed by a shark or crocodile.,05-Dec-2011,NaN,NaN,F,NaN
3276,3116,1978.08.05,1978.0,Unprovoked,USA,California,"Pajaro Dunes, Santa Cruz County",Wading,Pat DuNah,M,...,"2 m [6'9""] shark",http://sharkattackfile.net/spreadsheets/pdf_di...,3107,N,Punctures on leg (minor injury),05-Aug-1978,n,M,M,M

EJERCICIO 4: Una vez que hay谩is terminado eliminad las columnas originales conservando las nuevas.

In [258]:
df_copia.drop(['sex_','fatal_(y/n)','sex','sex1'], axis = 1)

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,age,time,species_,href,unnamed:_0_y,injury,date,fatal_,sex2
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,"FATAL, all onboard were killed by sharks",1800,y,F
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,FATAL,Reported May-28-1797,y,NaN
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,"FATAL, PROVOKED INCIDENT",12-Sep-1792,y,M
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,"FATAL, ""bitten in two""",1791,y,F
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,"No injury to occupants, shark bit oar and rudder",10-May-1788,n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6111,No injury to occupants,Reported 26-Feb-1804,n,NaN
6280,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6112,No injury,May-17-1803,n,M
6281,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6113,Shark knocked him down & tore clothing of the ...,Mar-1803,n,M
6282,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6114,FATAL,Reported Apr-13-1802,y,NaN
6283,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,6115,"FATAL, PROVOKED INCIDENT",Reported 18-Dec-1801,y,M

EJERCICIO 5: Guardad el dataframe en un csv que usaremos m谩s adelante

In [260]:
df_copia.to_csv('attack_limpio.csv')