In [34]:
import pandas as pd
import numpy as np

1.
Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que informaci칩n tienen en com칰n y debatir con tu compa침era como podr칤amos juntar toda la informaci칩n.

In [35]:
df_adicional = pd.read_csv('attacks_adicional.csv')
df_historico = pd.read_csv('attacks_historico.csv')
df_pair = pd.read_csv('attack_pair.csv')

In [36]:
df_adicional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6288 entries, 0 to 6287
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6288 non-null   int64
 1   Case Number  6287 non-null   object
 2   Fatal (Y/N)  5751 non-null   object
 3   Injury       6258 non-null   object
 4   Date         6286 non-null   object
dtypes: int64(1), object(4)
memory usage: 245.8+ KB

In [37]:
df_historico.info()
df_historico.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              170 non-null    int64
 1   Case Number             170 non-null    object
 2   Year                    170 non-null    float64
 3   Type                    170 non-null    object
 4   Country                 160 non-null    object
 5   Area                    124 non-null    object
 6   Location                119 non-null    object
 7   Activity                139 non-null    object
 8   Name                    161 non-null    object
 9   Sex                     156 non-null    object
 10  Age                     16 non-null     object
 11  Time                    10 non-null     object
 12  Species                 44 non-null     object
 13  Investigator or Source  169 non-null    object
 14  pdf                     170 non-null    object
 15  href formula            170 non-null    object
 16  href                    170 non-null    object
 17  Case Number.1           170 non-null    object
 18  Case Number.2           170 non-null    object
 19  original order          170 non-null    float64
 20  Unnamed: 22             0 non-null      float64
 21  Unnamed: 23             0 non-null      float64
dtypes: float64(4), int64(1), object(17)
memory usage: 29.3+ KB

(170, 22)

In [38]:
df_pair.info()
df_pair.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  6113 non-null   object
 1   unnamed:_0   6114 non-null   int64
 2   year         6114 non-null   float64
 3   type         6110 non-null   object
 4   country      6074 non-null   object
 5   area         5706 non-null   object
 6   location     5626 non-null   object
 7   activity     5603 non-null   object
 8   name         5914 non-null   object
 9   sex_         5564 non-null   object
 10  age          3448 non-null   object
 11  time         2934 non-null   object
 12  species_     3409 non-null   object
 13  href         6114 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 668.8+ KB

(6114, 14)

In [39]:
df_pair.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

In [40]:
df_historico.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [41]:
df_adicional.columns

Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

2.
Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. 쮼st치n todas en min칰sculas? 쯊ienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [44]:
columnas_nuevas = {col :  col.lower().replace(' ', '_') for col in df_historico.columns}
columnas_nuevas

{'unnamed: 0': 'unnamed:_0',
 'case number': 'case_number',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex ': 'sex_',
 'age': 'age',
 'time': 'time',
 'species ': 'species_',
 'investigator or source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'case number.1': 'case_number.1',
 'case number.2': 'case_number.2',
 'original order': 'original_order',
 'unnamed: 22': 'unnamed:_22',
 'unnamed: 23': 'unnamed:_23'}

In [46]:
df_historico.rename(columns = columnas_nuevas, inplace = True)
df_historico.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [59]:
columnas_nuevas_ad = {col :  col.lower().replace(' ', '_') for col in df_adicional.columns}
columnas_nuevas_ad

{'Unnamed: 0': 'unnamed:_0',
 'Case Number': 'case_number',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Injury': 'injury',
 'Date': 'date'}

In [60]:
df_adicional.rename(columns = columnas_nuevas_ad, inplace = True)
df_adicional.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

3.
En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesi칩n III que no eran 칰tiles, pero esas columnas est치n todav칤a en el hist칩rico. Si no fuera por eso podr칤amos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor m칠todo.

In [47]:
historico = df_historico.drop(["unnamed:_22", "unnamed:_23", "case_number.1", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1)
historico.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

In [ ]:
historico

In [49]:
df_pair.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...

In [52]:
df_concat = pd.concat([historico, df_pair], axis=0, ignore_index = True)
df_concat.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

4.
Es el momento de unir la informaci칩n de todos los ataques de tibur칩n que acabamos de crear con el DataFrame de informaci칩n adicional. Debatid que m칠todo es el m치s correcto para unir toda esta informaci칩n y ejecutadlo.
游늷 NOTA Cuando hag치is la uni칩n considerad que la informaci칩n que m치s nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinar치 el tipo de uni칩n.

In [58]:
df_adicional.columns

Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [61]:
mergeado_izq = pd.merge(left=df_concat, right=df_adicional, how='left',
                        on = 'case_number')

mergeado_izq.head()

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,unnamed:_0_y,fatal_(y/n),injury,date
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,Y,"FATAL, all onboard were killed by sharks",1800
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,Y,FATAL,Reported May-28-1797
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,Y,"FATAL, ""bitten in two""",1791
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,N,"No injury to occupants, shark bit oar and rudder",10-May-1788

In [62]:
mergeado_izq.shape

(6284, 18)

5.
Guardad el dataframe nuevo en un csv que usaremos ma침ana en la clase de pair programming

In [67]:
attack_merge = mergeado_izq.to_csv('attack_merge.csv', index = False)

In [68]:
attack_merge = pd.read_csv('attack_merge.csv')
attack_merge.head()

,unnamed:_0_x,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,unnamed:_0_y,fatal_(y/n),injury,date
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6116,Y,"FATAL, all onboard were killed by sharks",1800
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6117,Y,FATAL,Reported May-28-1797
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6118,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6119,Y,"FATAL, ""bitten in two""",1791
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,6120,N,"No injury to occupants, shark bit oar and rudder",10-May-1788

In [72]:
attack_merge.set_index(['case_number'], inplace=True)
attack_merge.head()

KeyError: "None of ['case_number'] are in the columns"

In [70]:
attack_merge.to_csv('prueba.csv')